body{
background:#111;
color:white;
font-family:Arial,sans-serif;
text-align:center;
margin:0;
padding:20px;
}

h1{
color:#FFD700;
}

.pair-box{
margin:20px 0;
}

select{
background:#222;
color:white;
padding:10px;
margin:5px;
border:2px solid #FFD700;
border-radius:8px;
font-size:16px;
}

button{
background:#FFD700;
color:black;
padding:15px 35px;
border:none;
border-radius:10px;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

#signal{
font-size:40px;
margin-top:30px;
font-weight:bold;
}

#chance{
font-size:25px;
}.signal-card{
background:#222;
padding:20px;
border-radius:10px;
margin-top:20px;
}

.up-box{
background:green;
padding:15px;
border-radius:10px;
font-size:25px;
margin:10px;
}

.down-box{
background:red;
padding:15px;
border-radius:10px;
font-size:25px;
margin:10px;
}

#status{
color:#FFD700;
font-size:18px;
}
